// Flex Helpers
.d-flex {
    display: flex;
}

.flex-direction {
    &-c{
        flex-direction: column;
    }
    &-r{
        flex-direction: row;
    }
}

// Align Items
.align-items {
    &-c{
    align-items: center;
    }
}

// Justify Content 
.justify-content{
    &-c {
    justify-content: center;
    }
}