@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500;700;800&family=Unbounded:wght@400;900&display=swap');
@import './partials/reset';
@import './partials/helper';


body {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

.App {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    margin: 0 auto;
}

.motd {
    flex-basis: 20%;
    max-height: 20%;
}

.card-component-weather {
    height: 20%;
    flex-basis: 80%;
    border-radius: 25px ;
    padding: 30px;
    background: #fdfdfd;
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    }
